<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
    p {
        width: 50%;
        margin: 0 auto;
    }
    table{
        font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
	.tmp-button{
		background-color: #fff;
		border: 1px solid #007bff;
		padding: 16px;
		width: 190px;
        font-size:16px;
        text-align:center;
        margin-top:24px;
        border-radius: 10px;
	}
	.tmp-link {
		text-decoration: none;
		color: #007bff;
	}

    td {
        vertical-align: middle;
        text-align: center;
    }

    td button, td a {
        vertical-align: middle;
        display: inline-block;
    }

    </style>
  </head>
  <body class="">
    <table>
      <tr>
        <td>&nbsp;</td>
        <td>
          <div class="tmp-container">
            <table>
                <tr>
                    <td>
                        <h1>
                            Reestablecer contraseña
                        </h1>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3>
                            Hola {{nombre}}
                        </h3>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>
                            Usted ha solicitado restablecer su contraseña. Para proceder de clic en el siguiente botón.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button class="tmp-button">
                            <a class="tmp-link" href="{{appUrl()}}/forgot/{{email}}/{{token}}">
                                Reestablecer
                            </a>
                        </button>
                    </td>
                </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
